:root {
  --color1: #0c1829;
  --color2: #132742;
  --color3: #e2dfdd;
  --color4: #0294a5;
  --color5: #c1403d;
}

.error {
  box-shadow: 0 0 0px 3px var(--color5) !important;
}
.error::placeholder {
  color: var(--color5) !important;
}

.completed {
  color: var(--color4) !important;
  text-decoration: line-through;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color1);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

button {
  height: 100%;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.app {
  background-color: var(--color2);
  min-height: 80vh;
  max-width: 900px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  padding: 2rem;
  border-radius: 1.2rem;
}

.head {
  display: flex;
  align-items: center;
}

.head h1 {
  color: var(--color3);
  margin-top: -1rem;
  margin-right: 0.5rem;
  line-height: 1;
}

.input-box {
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.input-box input {
  height: 2.5rem;
  width: 90%;
  background: none;
  background-color: var(--color3);
  color: var(--color2);
  font-size: 1rem;
  border: none;
  outline: none;
  margin-left: -1rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
}
.input-box input::placeholder {
  color: var(--color2);
}
.input-box input:focus,
.input-box input:hover {
  box-shadow: 0 0 0px 3px var(--color4);
}

.input-box button {
  padding: 0.5rem 1rem;
}

.input-box button i {
  color: var(--color3);
  font-size: 2.5rem;
}

.task-list-container {
  transition: 0.3s;
  margin-top: 1rem;
}

.task-item {
  background-color: var(--color3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  animation: rotacionar-Y 0.3s forwards;
}

@keyframes rotacionar-Y {
  from {
    opacity: 0;
    transform: rotateY(90deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

.task-item p {
  color: var(--color2);
  margin: 0.5rem 1rem;
}

.task-item button {
  padding: 0.5rem 1.5rem;
}

.task-item button i {
  color: var(--color5);
  font-size: 1.2rem;
}

/*
  Dragging and drop
******/
.is-dragging {
  cursor: crosshair;
  opacity: 0.2;
  animation: none;
}
